<?xml version="1.0" encoding="UTF-8"?>
<packages>
  <package id="Syncfusion.democommon" version="20.1.0.55" />
  <package id="syncfusion.shared.base" version="20.1.0.55" />
  <package id="syncfusion.sfsmithchart.winforms" version="20.1.0.55" />
  <package id="syncfusion.core.winforms" version="20.1.0.55" />
  <package id="syncfusion.licensing" version="20.1.0.55" />
</packages>