<?xml version="1.0" encoding="UTF-8"?>
<packages>
  <package id="Syncfusion.democommon" version="31.2.2" />
  <package id="syncfusion.core.winforms" version="31.2.2" />
  <package id="syncfusion.diagram.base" version="31.2.2" />
  <package id="syncfusion.diagram.windows" version="31.2.2" />
  <package id="syncfusion.shared.base" version="31.2.2" />
  <package id="syncfusion.shared.windows" version="31.2.2" />
  <package id="syncfusion.licensing" version="31.2.2" />
</packages>