<?xml version="1.0" encoding="UTF-8"?>
<packages>
  <package id="syncfusion.maps.windows" version="31.1.17" />
  <package id="syncfusion.shared.base" version="31.1.17" />
  <package id="syncfusion.shared.windows" version="31.1.17" />
  <package id="syncfusion.calculate.base" version="31.1.17" />
  <package id="syncfusion.licensing" version="31.1.17" />
</packages>