<?xml version="1.0" encoding="UTF-8"?>
<packages>
  <package id="syncfusion.compression.base" version="20.4.0.48" />
  <package id="Syncfusion.Pdf.WinForms" version="20.4.0.48" />
  <package id="syncfusion.tools.windows" version="20.4.0.48" />
  <package id="syncfusion.shared.base" version="20.4.0.48" />
  <package id="syncfusion.licensing" version="20.4.0.48" />
  <package id="syncfusion.shared.wpf" version="20.4.0.48" />
</packages>