.style1
{
	font-size: 16pt; color:Silver;font-family:Arial;
}

.style2
{
	color:White;font-size: 12pt;font-family:Arial;
}

.style3
{
	color:Red;font-size: 10pt;font-family:Arial;
}

a {   
 color:White; font-size: 16pt;}  