<?xml version="1.0" encoding="UTF-8"?>
<packages>
  <package id="syncfusion.maps.windows" version="20.1.0.47" />
  <package id="syncfusion.shared.windows" version="20.1.0.47" />
  <package id="syncfusion.shared.base" version="20.1.0.47" />
  <package id="syncfusion.licensing" version="20.1.0.47" />
</packages>