<?xml version="1.0" encoding="UTF-8"?>
<packages>
  <package id="syncfusion.shared.base" version="29.1.33" />
  <package id="syncfusion.shared.wpf" version="29.1.33" />
  <package id="syncfusion.treemap.windows" version="29.1.33" />
  <package id="syncfusion.licensing" version="29.1.33" />
</packages>