<?xml version="1.0" encoding="UTF-8"?>
<packages>
  <package id="syncfusion.diagram.base" version="28.2.3" />
  <package id="syncfusion.diagram.windows" version="28.2.3" />
  <package id="syncfusion.shared.base" version="28.2.3" />
  <package id="syncfusion.shared.windows" version="28.2.3" />
  <package id="syncfusion.licensing" version="28.2.3" />
</packages>