<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="WindowsFormsApplication1.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
    <userSettings>
        <WindowsFormsApplication1.Properties.Settings>
            <setting name="Outlook" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="VisualStudio" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Ubuntu" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ProgressBar" serializeAs="String">
                <value>False</value>
            </setting>
        </WindowsFormsApplication1.Properties.Settings>
    </userSettings>
</configuration>
