<?xml version="1.0" encoding="UTF-8"?>
<packages>
  <package id="syncfusion.core.winforms" version="20.4.0.48" />
  <package id="syncfusion.linq.base" version="20.4.0.48" />
  <package id="syncfusion.grid.base" version="20.4.0.48" />
  <package id="syncfusion.grid.windows" version="20.4.0.48" />
  <package id="syncfusion.shared.base" version="20.4.0.48" />
  <package id="syncfusion.shared.windows" version="20.4.0.48" />
  <package id="syncfusion.chart.base" version="20.4.0.48" />
  <package id="syncfusion.chart.windows" version="20.4.0.48" />
  <package id="syncfusion.pivotanalysis.base" version="20.4.0.48" />
  <package id="Syncfusion.PivotTable.WinForms" version="20.4.0.48" />
  <package id="syncfusion.pivotchart.windows" version="20.4.0.48" />
  <package id="syncfusion.tools.windows" version="20.4.0.48" />
  <package id="syncfusion.spellchecker.base" version="20.4.0.48" />
  <package id="syncfusion.tools.base" version="20.4.0.48" />
  <package id="syncfusion.licensing" version="20.4.0.48" />
</packages>