<?xml version="1.0" encoding="UTF-8"?>
<packages>
  <package id="syncfusion.chart.base" version="34.1.29" />
  <package id="syncfusion.chart.windows" version="34.1.29" />
  <package id="syncfusion.compression.base" version="34.1.29" />
  <package id="Syncfusion.DocIO.WinForms" version="34.1.29" />
  <package id="syncfusion.grid.base" version="34.1.29" />
  <package id="syncfusion.grid.windows" version="34.1.29" />
  <package id="Syncfusion.Pdf.WinForms" version="34.1.29" />
  <package id="syncfusion.shared.base" version="34.1.29" />
  <package id="Syncfusion.XlsIO.WinForms" version="34.1.29" />
  <package id="syncfusion.markdown" version="34.1.29" />
  <package id="syncfusion.licensing" version="34.1.29" />
</packages>