<?xml version="1.0" encoding="UTF-8"?>
<packages>
  <package id="syncfusion.chart.base" version="35.1.37" />
  <package id="syncfusion.chart.windows" version="35.1.37" />
  <package id="syncfusion.compression.base" version="35.1.37" />
  <package id="Syncfusion.DocIO.WinForms" version="35.1.37" />
  <package id="syncfusion.grid.base" version="35.1.37" />
  <package id="syncfusion.grid.windows" version="35.1.37" />
  <package id="Syncfusion.Pdf.WinForms" version="35.1.37" />
  <package id="syncfusion.shared.base" version="35.1.37" />
  <package id="Syncfusion.XlsIO.WinForms" version="35.1.37" />
  <package id="syncfusion.markdown" version="35.1.37" />
  <package id="syncfusion.licensing" version="35.1.37" />
</packages>