<?xml version="1.0" encoding="UTF-8"?>
<packages>
  <package id="syncfusion.compression.base" version="22.1.34" />
  <package id="Syncfusion.Presentation.WinForms" version="22.1.34" />
  <package id="Syncfusion.PresentationToPdfConverter.WinForms" version="22.1.34" />
  <package id="Syncfusion.Pdf.WinForms" version="22.1.34" />
  <package id="syncfusion.officechart.base" version="22.1.34" />
  <package id="syncfusion.grid.windows" version="22.1.34" />
  <package id="syncfusion.spellchecker.base" version="22.1.34" />
  <package id="syncfusion.grid.base" version="22.1.34" />
  <package id="syncfusion.shared.windows" version="22.1.34" />
  <package id="syncfusion.tools.base" version="22.1.34" />
  <package id="syncfusion.licensing" version="22.1.34" />
  <package id="syncfusion.tools.windows" version="22.1.34" />
  <package id="syncfusion.shared.base" version="22.1.34" />
</packages>