<?xml version="1.0" encoding="UTF-8"?>
<packages>
  <package id="Syncfusion.democommon" version="31.2.12" />
  <package id="syncfusion.calculate.base" version="31.2.12" />
  <package id="syncfusion.shared.base" version="31.2.12" />
  <package id="syncfusion.licensing" version="31.2.12" />
</packages>