<?xml version="1.0" encoding="UTF-8"?>
<packages>
  <package id="Syncfusion.democommon" version="28.2.3" />
  <package id="syncfusion.shared.base" version="28.2.3" />
  <package id="syncfusion.sfsmithchart.winforms" version="28.2.3" />
  <package id="syncfusion.office2016theme.winforms" version="28.2.3" />
  <package id="syncfusion.core.winforms" version="28.2.3" />
  <package id="syncfusion.licensing" version="28.2.3" />
</packages>