<?xml version="1.0" encoding="UTF-8"?>
<packages>
  <package id="Syncfusion.democommon" version="30.1.37" />
  <package id="syncfusion.shared.base" version="30.1.37" />
  <package id="syncfusion.sfsmithchart.winforms" version="30.1.37" />
  <package id="syncfusion.office2016theme.winforms" version="30.1.37" />
  <package id="syncfusion.core.winforms" version="30.1.37" />
  <package id="syncfusion.licensing" version="30.1.37" />
</packages>