<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="GettingStarted.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="SplashControl_NewSample.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
    <userSettings>
        <GettingStarted.Settings1>
            <setting name="AnimationSpeed" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="DisplayInterval" serializeAs="String">
                <value />
            </setting>
            <setting name="SlidePosition" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="DesktopAlignment" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="MarqueeDirection" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="AnimationDirection" serializeAs="String">
                <value>0</value>
            </setting>
        </GettingStarted.Settings1>
        <SplashControl_NewSample.Settings1>
            <setting name="AnimationSpeed" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="DisplayInterval" serializeAs="String">
                <value/>
            </setting>
            <setting name="SlidePosition" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DesktopAlignment" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MarqueeDirection" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="AnimationDirection" serializeAs="String">
                <value>0</value>
            </setting>
        </SplashControl_NewSample.Settings1>
    </userSettings>
</configuration>
