<?xml version="1.0" encoding="UTF-8"?>
<packages>
  <package id="syncfusion.compression.base" version="27.1.48" />
  <package id="syncfusion.pdfviewer.windows" version="27.1.48" />
  <package id="syncfusion.shared.base" version="27.1.48" />
  <package id="Syncfusion.Pdf.WinForms" version="27.1.48" />
  <package id="Syncfusion.ExcelToPdfConverter.WinForms" version="27.1.48" />
  <package id="syncfusion.tools.windows" version="27.1.48" />
  <package id="syncfusion.spreadsheet.windows" version="27.1.48" />
  <package id="Syncfusion.XlsIO.WinForms" version="27.1.48" />
  <package id="syncfusion.grid.windows" version="27.1.48" />
  <package id="syncfusion.spellchecker.base" version="27.1.48" />
  <package id="syncfusion.grid.base" version="27.1.48" />
  <package id="syncfusion.shared.windows" version="27.1.48" />
  <package id="syncfusion.tools.base" version="27.1.48" />
  <package id="Syncfusion.democommon" version="27.1.48" />
  <package id="syncfusion.licensing" version="27.1.48" />
</packages>