<?xml version="1.0" encoding="UTF-8"?>
<packages>
  <package id="syncfusion.compression.base" version="21.2.3" />
  <package id="syncfusion.officechart.base" version="21.2.3" />
  <package id="Syncfusion.DocIO.WinForms" version="21.2.3" />
  <package id="syncfusion.shared.base" version="21.2.3" />
  <package id="syncfusion.tools.windows" version="21.2.3" />
  <package id="syncfusion.grid.windows" version="21.2.3" />
  <package id="syncfusion.spellchecker.base" version="21.2.3" />
  <package id="syncfusion.grid.base" version="21.2.3" />
  <package id="syncfusion.shared.windows" version="21.2.3" />
  <package id="syncfusion.tools.base" version="21.2.3" />
  <package id="syncfusion.licensing" version="21.2.3" />
</packages>