<?xml version="1.0" encoding="UTF-8"?>
<packages>
  <package id="syncfusion.core.winforms" version="31.1.17" />
  <package id="syncfusion.data.winforms" version="31.1.17" />
  <package id="syncfusion.gridcommon.winforms" version="31.1.17" />
  <package id="syncfusion.pdfviewer.windows" version="31.1.17" />
  <package id="syncfusion.sfdatagrid.winforms" version="31.1.17" />
  <package id="syncfusion.sfinput.winforms" version="31.1.17" />
  <package id="syncfusion.datasource.winforms" version="31.1.17" />
  <package id="syncfusion.shared.base" version="31.1.17" />
  <package id="Syncfusion.Pdf.WinForms" version="31.1.17" />
  <package id="syncfusion.sflistview.winforms" version="31.1.17" />
  <package id="Syncfusion.XlsIO.WinForms" version="31.1.17" />
  <package id="syncfusion.compression.base" version="31.1.17" />
  <package id="Syncfusion.DataGridExport.WinForms" version="31.1.17" />
  <package id="syncfusion.licensing" version="31.1.17" />
</packages>