<configuration>
	<system.diagnostics>
		<switches>
			<clear />
			<add name="Grid.GridControlBaseEvents" value="4" />
			<add name="xGrid.GridModelEvents" value="4" />
			<add name="sGrid.GridDataBoundGridEvents" value="4" />
			<add name="sGrid.GridDataBoundGrid" value="4" />
			<add name="sGrid.Focus" value="4" />
			<add name="sShared.ScrollControlFocus" value="4" />
			<add name="xGrid.GridListControlEvents" value="4" />
			<add name="Grid.GridModelDataBinderEvents" value="4" />
			<add name="Grid.GridBoundColumnEvents" value="4" />
			<add name="xGrid.GridCellModelBaseEvents" value="4" />
			<add name="xGrid.GridCellButtonEvents" value="4" />
			<add name="GridControlBase.OnBeforeGridControlMouseMove" value="1"/>
			<add name="GridControlBase.OnMouseMove" value="1"/>
			<add name="xGridControlBase.OnDrawCell" value="1"/>
			<add name="GridControlBase.OnPrepareViewStyleInfo" value="1"/>
			<add name="GridControlBase.OnInvalidated" value="1"/>
			<add name="GridControlBase.OnPaint" value="1"/>
			<add name="GridModel.OnBaseStylesMapChanged" value="1"/>
			<add name="GridModel.OnBeforeChangeSelection" value="1"/>
			<add name="GridModel.OnBeforeClearSelection" value="1"/>
			<add name="GridModel.OnBeginUpdateRequest" value="1"/>
			<add name="GridModel.OnCellModelsChanged" value="1"/>
			<add name="GridModel.OnCellsChanged" value="1"/>
			<add name="GridModel.OnCellsChanging" value="1"/>
			<add name="GridModel.OnCellsChanging" value="1"/>
			<add name="GridModel.OnColsInserted" value="1"/>
			<add name="GridModel.OnColsInserting" value="1"/>
			<add name="GridModel.OnColWidthsChanged" value="1"/>
			<add name="GridModel.OnColWidthsChanging" value="1"/>
			<add name="GridModel.OnCoveredRangesChanged" value="1"/>
			<add name="GridModel.OnCoveredRangesChanging" value="1"/>
			<add name="GridModel.OnDataChanged" value="1"/>
			<add name="GridModel.OnDefaultColWidthChanged" value="1"/>
			<add name="GridModel.OnDefaultColWidthChanging" value="1"/>
			<add name="GridModel.OnDefaultRowHeightChanged" value="1"/>
			<add name="GridModel.OnDefaultRowHeightChanging" value="1"/>
			<add name="GridModel.OnEndUpdateRequest" value="1"/>
			<add name="GridModel.OnFloatingCellsChanged" value="1"/>
			<add name="GridModel.OnPrepareGraphics" value="1"/>
			<add name="GridModel.OnQueryCellInfo" value="1"/>
			<add name="GridModel.OnQueryCellModel" value="1"/>
			<add name="GridModel.OnQueryColCount" value="1"/>
			<add name="GridModel.OnQueryColWidth" value="1"/>
			<add name="GridModel.OnQueryCoveredRange" value="1"/>
			<add name="GridModel.OnQueryOleDataSourceData" value="1"/>
			<add name="GridModel.OnQueryRowCount" value="1"/>
			<add name="GridModel.OnQueryRowHeight" value="1"/>
			<add name="GridModel.OnRowHeightsChanged" value="1"/>
			<add name="GridModel.OnRowHeightsChanging" value="1"/>
			<add name="GridModel.OnRowsInserted" value="1"/>
			<add name="GridModel.OnRowsInserting" value="1"/>
			<add name="GridModel.OnSaveCellInfo" value="1"/>
			<add name="GridModel.OnSaveColCount" value="1"/>
			<add name="GridModel.OnSaveColWidth" value="1"/>
			<add name="GridModel.OnSaveRowCount" value="1"/>
			<add name="GridModel.OnSaveRowHeight" value="1"/>
			<add name="xGridModel.OnSelectionChanged" value="1"/>
			<add name="xGridModel.OnSelectionChanging" value="1"/>
			<add name="sGridModel.OnClipboardCanPaste" value="1"/>
			<add name="sGridModel.OnClipboardCanCut" value="1"/>
			<add name="sGridModel.OnClipboardCanCopy" value="1"/>
			<add name="sGridModel.OnClipboardPaste" value="1"/>
			<add name="sGridModel.OnClipboardCut" value="1"/>
			<add name="sGridModel.OnClipboardCopy" value="1"/>
			<add name="GridModelOptions.OnFloatCellsModeChanged" value="1"/>
			<add name="GridModelOptions.OnOptionsChanged" value="1"/>
			<add name="xShared.ArrowButtonBarEvents" value="4" />
			<add name="xShared.ButtonBarEvents" value="4" />
			<add name="sShared.RecordNavigationBarEvents" value="4" />
			<add name="sShared.RecordNavigationControlEvents" value="4" />
			<add name="sShared.SplitterControlEvents" value="4" />
			<add name="xShared.TabBarEvents" value="4" />
			<add name="xShared.TabBarSplitterControlEvents" value="4" />
			<add name="xShared.MouseControllerDispatcherEvents" value="4" />
			<add name="xShared.ScrollControlEvents" value="4" />
			<add name="ScrollControl.OnBeforeScrollControlMouseMove" value="1"/>
			<add name="ScrollControl.OnMouseMove" value="1"/>
			<add name="sGrid.CellRenderer" value="4" />
			<add name="sGrid.CurrentCell" value="4" />
			<add name="Grid.TextBoxCellEvents" value="4" />
			<add name="sGrid.Development" value="4" />
			<add name="xGrid.General" value="4" />
			<add name="sGrid.KeyboardEvents" value="4" />
			<add name="xGrid.Printing" value="4" />
			<add name="xGrid.TabBarControl" value="4" />
			<add name="xGridPad" value="4" />
			<add name="xGrid.CheckBoxCellEvents" value="4" />
			<add name="xGrid.FloatCells" value="4" />
			<add name="xGrid.GridPaint" value="4" />
			<add name="sGrid.SelectRange" value="4" />
			<add name="xGrid.Timers" value="4" />
			<add name="xGrid.VolatileData" value="4" />
			<add name="xGrid.ValueConversion" value="4" />
			<add name="xGrid.ButtonChild" value="4" />
			<add name="xGrid.Printing" value="4" />
			<add name="xGrid.ResizeToFit" value="4" />
			<add name="xGrid.DataExchange" value="4" />
			<add name="xGrid.OutlineCurrentCellHeader" value="4" />
			<add name="xGrid.CustomStylePropertyLifetime" value="4" />
			<add name="xGrid.DelayedRange" value="4" />
			<add name="xGrid.GridLayout" value="4" />
			<add name="xGrid.GridScrolling" value="4" />
			<add name="xGrid.Scrolling" value="4" />
			<add name="xGrid.Serialization" value="4" />
			<add name="xGrid.MouseEvents" value="4" />
			<add name="xGrid.CheckBoxCellEvents" value="4" />
			<add name="sGrid.BeginEndUpdate" value="4" />
			<add name="xGrid.CommandStack" value="4" />
			<add name="xShared.MouseController" value="4" />
			<add name="xShared.BeginEndUpdate" value="4" />
			<add name="xShared.ScrollControl" value="4" />
			<add name="xShared.Timers" value="4" />
			<add name="sShared.Workbook" value="4" />
			<add name="xShared.OperationFeedback" value="4" />
			<add name="xShared.Serialization" value="4" />
			<add name="xShared.Styles" value="4" />
		</switches>
	</system.diagnostics>
</configuration>
