<?xml version="1.0" encoding="utf-8" ?>
<ArrayOfConfigLanguage>
<!--
xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="file://d:\Projects\EditControl\Syncfusion.Windows.Forms.Edit\config.xsd" -->
  <ConfigLanguage name="CustomLanguage">
    <formats>
      <format name="Text" Font="Courier New, 10pt" FontColor="Black" />
      <format name="Whitespace" Font="Courier New, 10pt" FontColor="Black" />
      <format name="KeyWord" Font="Courier New, 10pt" FontColor="Blue" />
      <format name="String" Font="Courier New, 10pt, style=Bold" FontColor="Red" />
      <format name="Number" Font="Courier New, 10pt, style=Bold" FontColor="Navy" />
      <format name="Operator" Font="Courier New, 10pt" FontColor="DarkCyan" />
      <format name="Comment" Font="Courier New, 10pt, style=Bold" FontColor="Green" />
      <format name="PreprocessorKeyword" Font="Courier New, 10pt" FontColor="Gray" />
      <format name="SelectedText" Font="Courier New, 10pt" BackColor="Highlight" FontColor="HighlightText" />
      <format name="CommentXML" Font="Courier New, 10pt, style=Bold" FontColor="Gray" />
      <format name="CollapsedText" Font="Courier New, 10pt" FontColor="Black" BackColor="White"
        ForeColor="Gray" />
    </formats>
    <extensions>
      <extension>cs</extension>
      <extension>txt</extension>
      <extension>log</extension>
    </extensions>
    <lexems>
      <lexem BeginBlock="=" Type="Operator" />
      <lexem BeginBlock="+" Type="Operator" />
      <lexem BeginBlock="-" Type="Operator" />
      <lexem BeginBlock="/" Type="Operator" />
      <lexem BeginBlock="*" Type="Operator" />
      <lexem BeginBlock="!=" Type="Operator" />
      <lexem BeginBlock="==" Type="Operator" />
      <lexem BeginBlock="-=" Type="Operator" />
      <lexem BeginBlock="+=" Type="Operator" />
      <lexem BeginBlock="=-" Type="Operator" />
      <lexem BeginBlock="=+" Type="Operator" />
      <lexem BeginBlock="*=" Type="Operator" />
      <lexem BeginBlock="/=" Type="Operator" />
      <lexem BeginBlock="=*" Type="Operator" />
      <lexem BeginBlock="=/" Type="Operator" />
      <lexem BeginBlock="++" Type="Operator" />
      <lexem BeginBlock="--" Type="Operator" />
      <lexem BeginBlock=";" Type="Operator" />
      <lexem BeginBlock=":" Type="Operator" />
      <lexem BeginBlock="." Type="Operator" DropContextChoiceList="true"/>
      <lexem BeginBlock="," Type="Operator" />
      <lexem BeginBlock="abstract" Type="KeyWord" />
      <lexem BeginBlock="long" Type="KeyWord" />
      <lexem BeginBlock="as" Type="KeyWord" />
      <lexem BeginBlock="namespace" Type="KeyWord" />
      <lexem BeginBlock="base" Type="KeyWord" />
      <lexem BeginBlock="new" Type="KeyWord" />
      <lexem BeginBlock="bool" Type="KeyWord" />
      <lexem BeginBlock="null" Type="KeyWord" />
      <lexem BeginBlock="break" Type="KeyWord" />
      <lexem BeginBlock="object" Type="KeyWord" />
      <lexem BeginBlock="byte" Type="KeyWord" />
      <lexem BeginBlock="operator" Type="KeyWord" />
      <lexem BeginBlock="case" Type="KeyWord" />
      <lexem BeginBlock="out" Type="KeyWord" />
      <lexem BeginBlock="catch" Type="KeyWord" />
      <lexem BeginBlock="override" Type="KeyWord" />
      <lexem BeginBlock="char" Type="KeyWord" />
      <lexem BeginBlock="params" Type="KeyWord" />
      <lexem BeginBlock="checked" Type="KeyWord" />
      <lexem BeginBlock="private" Type="KeyWord" />
      <lexem BeginBlock="class" Type="KeyWord" />
      <lexem BeginBlock="protected" Type="KeyWord" />
      <lexem BeginBlock="const" Type="KeyWord" />
      <lexem BeginBlock="public" Type="KeyWord" />
      <lexem BeginBlock="continue" Type="KeyWord" />
      <lexem BeginBlock="readonly" Type="KeyWord" />
      <lexem BeginBlock="decimal" Type="KeyWord" />
      <lexem BeginBlock="ref" Type="KeyWord" />
      <lexem BeginBlock="default" Type="KeyWord" />
      <lexem BeginBlock="return" Type="KeyWord" />
      <lexem BeginBlock="delegate" Type="KeyWord" />
      <lexem BeginBlock="sbyte" Type="KeyWord" />
      <lexem BeginBlock="do" Type="KeyWord" />
      <lexem BeginBlock="sealed" Type="KeyWord" />
      <lexem BeginBlock="double" Type="KeyWord" />
      <lexem BeginBlock="short" Type="KeyWord" />
      <lexem BeginBlock="else" Type="KeyWord" />
      <lexem BeginBlock="sizeof" Type="KeyWord" />
      <lexem BeginBlock="enum" Type="KeyWord" />
      <lexem BeginBlock="stackalloc" Type="KeyWord" />
      <lexem BeginBlock="event" Type="KeyWord" />
      <lexem BeginBlock="static" Type="KeyWord" />
      <lexem BeginBlock="explicit" Type="KeyWord" />
      <lexem BeginBlock="string" Type="KeyWord" />
      <lexem BeginBlock="extern" Type="KeyWord" />
      <lexem BeginBlock="struct" Type="KeyWord" />
      <lexem BeginBlock="false" Type="KeyWord" />
      <lexem BeginBlock="switch" Type="KeyWord" />
      <lexem BeginBlock="finally" Type="KeyWord" />
      <lexem BeginBlock="this" Type="KeyWord" />
      <lexem BeginBlock="me" Type="KeyWord" />
      <lexem BeginBlock="fixed" Type="KeyWord" />
      <lexem BeginBlock="throw" Type="KeyWord" />
      <lexem BeginBlock="float" Type="KeyWord" />
      <lexem BeginBlock="true" Type="KeyWord" />
      <lexem BeginBlock="for" Type="KeyWord" />
      <lexem BeginBlock="try" Type="KeyWord" />
      <lexem BeginBlock="foreach" Type="KeyWord" />
      <lexem BeginBlock="typeof" Type="KeyWord" />
      <lexem BeginBlock="goto" Type="KeyWord" />
      <lexem BeginBlock="uint" Type="KeyWord" />
      <lexem BeginBlock="if" Type="KeyWord" />
      <lexem BeginBlock="ulong" Type="KeyWord" />
      <lexem BeginBlock="implicit" Type="KeyWord" />
      <lexem BeginBlock="unchecked" Type="KeyWord" />
      <lexem BeginBlock="in" Type="KeyWord" />
      <lexem BeginBlock="unsafe" Type="KeyWord" />
      <lexem BeginBlock="int" Type="KeyWord" />
      <lexem BeginBlock="ushort" Type="KeyWord" />
      <lexem BeginBlock="interface" Type="KeyWord" />
      <lexem BeginBlock="using" Type="KeyWord" />
      <lexem BeginBlock="internal" Type="KeyWord" />
      <lexem BeginBlock="virtual" Type="KeyWord" />
      <lexem BeginBlock="is" Type="KeyWord" />
      <lexem BeginBlock="void" Type="KeyWord" />
      <lexem BeginBlock="lock" Type="KeyWord" />
      <lexem BeginBlock="while" Type="KeyWord" />
      <lexem BeginBlock="get" Type="KeyWord" />
      <lexem BeginBlock="set" Type="KeyWord" />
      <lexem BeginBlock="add" Type="KeyWord" />
      <lexem BeginBlock="remove" Type="KeyWord" />
      <lexem BeginBlock="/*" EndBlock="*/" Type="Comment" OnlyLocalSublexems="true" IsComplex="true"
        IsCollapsable="true" CollapseName="/*...*/">
        <SubLexems>
          <lexem BeginBlock="\n" IsBeginRegex="true" />
        </SubLexems>
      </lexem>
      <lexem BeginBlock="(" EndBlock=")" Type="Operator" IsComplex="true" IsCollapsable="false" DropContextPrompt="true"
        CollapseName="(...)">
        <SubLexems>
          <lexem BeginBlock="\n" IsBeginRegex="true" />
        </SubLexems>
      </lexem>
      <lexem BeginBlock="&quot;" EndBlock="(&quot;)|(@&quot;)" Type="String" IsEndRegex="true" IsComplex="true" OnlyLocalSublexems="true">
        <SubLexems>
          <lexem BeginBlock="\" EndBlock="&quot;" Type="String" />
        </SubLexems>
      </lexem>
      <lexem BeginBlock="'" EndBlock="'" Type="String" IsComplex="true" OnlyLocalSublexems="true">
        <SubLexems>
          <lexem BeginBlock="\" EndBlock=".+" IsEndRegex="true" Priority="2" Type="String" />
        </SubLexems>
      </lexem>
      <lexem BeginBlock="@&quot;" EndBlock="(&quot;)|(@&quot;)" Type="String" IsEndRegex="true" OnlyLocalSublexems="true" IsComplex="true">
        <SubLexems>
          <lexem BeginBlock="\n" IsBeginRegex="true" />
          <lexem BeginBlock="&quot;" EndBlock="&quot;" Type="String"/>
        </SubLexems>
      </lexem>
      <lexem BeginBlock="[" EndBlock="]" Type="Operator" IsComplex="true" IsCollapsable="false" DropContextPrompt="true"
        CollapseName="[...]">
        <SubLexems>
          <lexem BeginBlock="\" EndBlock="&quot;" Type="String" />
        </SubLexems>
      </lexem>
      <lexem BeginBlock="//" EndBlock="\n" IsEndRegex="true" Type="Comment" IsComplex="true"
        OnlyLocalSublexems="true" />
      <lexem ID="1041" EndBlock="#endregion" Type="PreprocessorKeyword" IsComplex="true" >
        <SubLexems>
          <lexem BeginBlock="\n" IsBeginRegex="true" />
        </SubLexems>
      </lexem>
      <lexem BeginBlock="#region" EndBlock="\n" Type="PreprocessorKeyword" IsEndRegex="true" OnlyLocalSublexems="true"
        IsComplex="true" IsCollapsable="true" AutoNameExpression="(#region)\s*(?&lt;text>.*).*(?&lt;!\n)\n" AutoNameTemplate="${text}"
        IsCollapseAutoNamed="true" CollapseName="Unnamed Region" NextID="1041">
        <SubLexems>
          <lexem BeginBlock=".*(?&lt;!\n)" IsBeginRegex="true" Type="Text" />
        </SubLexems>
      </lexem>
      <lexem BeginBlock="\s" IsBeginRegex="true" Type="Whitespace" />
      <lexem BeginBlock="///" EndBlock="\n" IsEndRegex="true" Type="Comment" OnlyLocalSublexems="true"
        IsComplex="true">
        <SubLexems>
          <lexem BeginBlock="&lt;" EndBlock=">" Type="Custom" FormatName="CommentXML" IsComplex="true"
            OnlyLocalSublexems="true" />
        </SubLexems>
      </lexem>
      <lexem BeginBlock="[0-9]+" IsBeginRegex="true" Type="Number" />
      <lexem BeginBlock="[0-9]+" ContinueBlock="." EndBlock="[0-9]+" IsBeginRegex="true" IsEndRegex="true" Type="Number" />
      <lexem BeginBlock="{" EndBlock="}" Type="KeyWord" IsComplex="true" IsCollapsable="true" Indent="true" DropContextPrompt="true" 
        CollapseName="{...}">
        <SubLexems>
          <lexem BeginBlock="\n" IsBeginRegex="true" />
        </SubLexems>
      </lexem>
    </lexems>
    <splits>
      <split>@&quot;</split>
      <split>+=</split>
      <split>/=</split>
      <split>=/</split>
      <split>*=</split>
      <split>=*</split>
      <split>==</split>
      <split>!=</split>
      <split>=+</split>
      <split>-=</split>
      <split>++</split>
      <split>-=</split>
      <split>=-</split>
      <split>--</split>
      <split>/*</split>
      <split>*/</split>
      <split>//</split>
      <split>#region</split>
      <split>#endregion</split>
      <split>///</split>
    </splits>
  </ConfigLanguage>
  <ConfigLanguage name="default_language" Known="Text">
		<formats>
			<format name="Text" Font="Courier New, 10pt" FontColor="Black" />
			<format name="SelectedText" Font="Courier New, 10pt" BackColor="Highlight" FontColor="HighlightText" />
			<format name="String" Font="Courier New, 10pt, style=Bold" FontColor="Red" />
			<format name="Whitespace" Font="Courier New, 10pt" FontColor="Black" />
			<format name="Operator" Font="Courier New, 10pt" FontColor="DarkCyan" />
			<format name="Number" Font="Courier New, 10pt, style=Bold" FontColor="Navy" />
			<format name="S7Addr" Font="Courier New, 10pt, style=Bold" FontColor="Gray" />
			<format name="CollapsedText" Font="Courier New, 10pt" FontColor="Black" BackColor="White"
				BorderColor="Gray" BorderStyle="Solid" />
			<format name="FormatXXXYYY" Font="Courier New, 10pt" FontColor="Pink" />
			<format name="Hyperlink" Font="Courier New, 10pt" FontColor="Blue" underline="Solid" LineColor="Blue" />
		</formats>
		<extensions />
		<lexems>
			<!--  #group XXXX:  <POS: Prop>*%(YYY) -->
			<lexem BeginBlock="\w+" IsBeginRegex="true" EndBlock="\n" IsEndRegex="true" Type="Text"
				IsComplex="true" IsPseudoEnd="true" AutoNameExpression="^\s*(?&lt;text>.{0,20}\w).*\n"
				AutoNameTemplate="${text}..." IsCollapseAutoNamed="true" IsCollapsable="true" CollapseName="Empty Paragraph"
				OnlyLocalSublexems="true">
				<SubLexems>
					<lexem BeginBlock="=" Type="Operator" />
					<lexem BeginBlock="+" Type="Operator" />
					<lexem BeginBlock="-" Type="Operator" />
					<lexem BeginBlock="/" Type="Operator" />
					<lexem BeginBlock="*" Type="Operator" />
					<lexem BeginBlock=";" Type="Operator" />
					<lexem BeginBlock=":" Type="Operator" />
					<lexem BeginBlock="." Type="Operator" />
					<lexem BeginBlock="," Type="Operator" />
					<lexem BeginBlock=">" ContinueBlock=">" Type="Operator" />
					<lexem BeginBlock="&quot;" EndBlock="(&quot;)|(@&quot;)" Type="String" IsEndRegex="true"
						IsComplex="true" OnlyLocalSublexems="true">
						<SubLexems>
							<lexem BeginBlock="\" EndBlock="&quot;" Type="String" />
						</SubLexems>
					</lexem>
					<lexem BeginBlock="'" ContinueBlock=".*" EndBlock="'" IsContinueRegex="true" Type="String" />
					<lexem BeginBlock="{DigitMacro}+" IsBeginRegex="true" Type="Number" />
					<lexem BeginBlock="{DigitMacro}+" ContinueBlock="." EndBlock="{DigitMacro}+" IsBeginRegex="true"
						IsEndRegex="true" Type="Number" />
					<lexem BeginBlock="(\s(?&lt;!\n))+" IsBeginRegex="true" Type="Whitespace" />
					<lexem BeginBlock="2#" EndBlock="([10]+[_])*[10]+" IsEndRegex="true" Priority="2" Type="Number" />
					<lexem BeginBlock="[IQMiqm][0-9]+" ContinueBlock="[.]" EndBlock="[0-7]" IsBeginRegex="true"
						IsContinueRegex="true" IsEndRegex="true" Priority="2" Type="S7Addr" />
					<lexem BeginBlock="http://" ContinueBlock="\S+" EndBlock="[\s\n]+" IsEndRegex="true" IsContinueRegex="true"
						IsComplex="true" OnlyLocalSublexems="true" IsPseudoEnd="true" Type="Hyperlink" />
					<lexem BeginBlock="www" ContinueBlock="\S+" EndBlock="[\s\n]+" IsEndRegex="true" IsContinueRegex="true"
						IsComplex="true" OnlyLocalSublexems="true" IsPseudoEnd="true" Type="Hyperlink" />
					<lexem BeginBlock="ftp://" ContinueBlock="\S+" EndBlock="[\s\n]+" IsEndRegex="true" IsContinueRegex="true"
						IsComplex="true" OnlyLocalSublexems="true" IsPseudoEnd="true" Type="Hyperlink" />
					<lexem BeginBlock="file://" ContinueBlock="\S+" EndBlock="[\s\n]+" IsEndRegex="true" IsContinueRegex="true"
						IsComplex="true" OnlyLocalSublexems="true" IsPseudoEnd="true" Type="Hyperlink" />
					<lexem BeginBlock="\\\\" ContinueBlock="\S+" EndBlock="[\s\n]+" IsEndRegex="true" IsBeginRegex="true"
						IsContinueRegex="true" IsComplex="true" OnlyLocalSublexems="true" IsPseudoEnd="true"
						Type="Hyperlink" />
					<lexem BeginBlock="mailto:" ContinueBlock="\S+" EndBlock="[\s\n]+" IsEndRegex="true" IsBeginRegex="true"
						IsContinueRegex="true" IsComplex="true" OnlyLocalSublexems="true" IsPseudoEnd="true"
						Type="Hyperlink" />
				</SubLexems>
			</lexem>
		</lexems>
		<splits>
			<split>mailto:</split>
			<split>\\</split>
			<split>ftp://</split>
			<split>file://</split>
			<split>http://</split>
			<split>#group</split>
			<split>-></split>
			<split>2#</split>
			<split>$"</split>
		</splits>
	</ConfigLanguage>
  </ArrayOfConfigLanguage>