<?xml version="1.0" encoding="UTF-8"?>
<packages>
  <package id="syncfusion.sfchart.wpf" version="26.1.35" />
  <package id="Syncfusion.ExcelChartToImageConverter.WinForms" version="26.1.35" />
  <package id="syncfusion.compression.base" version="26.1.35" />
  <package id="Syncfusion.ExcelToPdfConverter.WinForms" version="26.1.35" />
  <package id="Syncfusion.Pdf.WinForms" version="26.1.35" />
  <package id="syncfusion.tools.windows" version="26.1.35" />
  <package id="syncfusion.shared.base" version="26.1.35" />
  <package id="Syncfusion.XlsIO.WinForms" version="26.1.35" />
  <package id="syncfusion.grid.windows" version="26.1.35" />
  <package id="syncfusion.spellchecker.base" version="26.1.35" />
  <package id="syncfusion.grid.base" version="26.1.35" />
  <package id="syncfusion.shared.windows" version="26.1.35" />
  <package id="syncfusion.tools.base" version="26.1.35" />
  <package id="syncfusion.licensing" version="26.1.35" />
</packages>