<?xml version="1.0" encoding="UTF-8"?>
<packages>
  <package id="syncfusion.compression.base" version="20.1.0.47" />
  <package id="Syncfusion.Presentation.WinForms" version="20.1.0.47" />
  <package id="Syncfusion.OfficeChartToImageConverter.WinForms" version="20.1.0.47" />
  <package id="syncfusion.sfchart.wpf" version="20.1.0.47" />
  <package id="Syncfusion.Pdf.WinForms" version="20.1.0.47" />
  <package id="syncfusion.officechart.base" version="20.1.0.47" />
  <package id="Syncfusion.PresentationToPdfConverter.WinForms" version="20.1.0.47" />
  <package id="syncfusion.grid.windows" version="20.1.0.47" />
  <package id="syncfusion.spellchecker.base" version="20.1.0.47" />
  <package id="syncfusion.grid.base" version="20.1.0.47" />
  <package id="syncfusion.shared.windows" version="20.1.0.47" />
  <package id="syncfusion.tools.base" version="20.1.0.47" />
  <package id="syncfusion.licensing" version="20.1.0.47" />
  <package id="syncfusion.tools.windows" version="20.1.0.47" />
  <package id="syncfusion.shared.base" version="20.1.0.47" />
</packages>