<configuration>
	<system.diagnostics>
		<switches>
			<clear />
			<add name="xGrid.FormulaCell" value="4" />
			<add name="cGrid.GridControlBaseEvents" value="4" />
			<add name="cGrid.GridModelEvents" value="4" />
			<add name="sGrid.GridDataBoundGridEvents" value="4" />
			<add name="sGrid.GridDataBoundGrid" value="4" />
			<add name="cGrid.Focus" value="4" />
			<add name="cShared.ScrollControlFocus" value="4" />
			<add name="xGrid.GridListControlEvents" value="4" />
			<add name="xGrid.GridModelDataBinderEvents" value="4" />
			<add name="xGrid.GridBoundColumnEvents" value="4" />
			<add name="xGrid.GridCellModelBaseEvents" value="4" />
			<add name="xGrid.GridCellButtonEvents" value="4" />
			<add name="xGridControlBase.OnBeforeGridControlMouseMove" value="1"/>
			<add name="xGridControlBase.OnMouseMove" value="1"/>
			<add name="xGridControlBase.OnDrawCell" value="1"/>
			<add name="xGridControlBase.OnPrepareViewStyleInfo" value="1"/>
			<add name="xGridControlBase.OnInvalidated" value="1"/>
			<add name="xGridControlBase.OnPaint" value="1"/>
			<add name="xGridModel.OnBaseStylesMapChanged" value="1"/>
			<add name="xGridModel.OnBeforeChangeSelection" value="1"/>
			<add name="xGridModel.OnBeforeClearSelection" value="1"/>
			<add name="xGridModel.OnBeginUpdateRequest" value="1"/>
			<add name="xGridModel.OnCellModelsChanged" value="1"/>
			<add name="sGridModel.OnCellsChanged" value="1"/>
			<add name="sGridModel.OnCellsChanging" value="1"/>
			<add name="xGridModel.OnColsInserted" value="1"/>
			<add name="xGridModel.OnColsInserting" value="1"/>
			<add name="xGridModel.OnColWidthsChanged" value="1"/>
			<add name="xGridModel.OnColWidthsChanging" value="1"/>
			<add name="xGridModel.OnCoveredRangesChanged" value="1"/>
			<add name="xGridModel.OnCoveredRangesChanging" value="1"/>
			<add name="xGridModel.OnDataChanged" value="1"/>
			<add name="xGridModel.OnDefaultColWidthChanged" value="1"/>
			<add name="xGridModel.OnDefaultColWidthChanging" value="1"/>
			<add name="xGridModel.OnDefaultRowHeightChanged" value="1"/>
			<add name="xGridModel.OnDefaultRowHeightChanging" value="1"/>
			<add name="sGridModel.OnEndUpdateRequest" value="1"/>
			<add name="xGridModel.OnFloatingCellsChanged" value="1"/>
			<add name="xGridModel.OnPrepareGraphics" value="1"/>
			<add name="xGridModel.OnQueryCellInfo" value="1"/>
			<add name="xGridModel.OnQueryCellModel" value="1"/>
			<add name="xGridModel.OnQueryColCount" value="1"/>
			<add name="xGridModel.OnQueryColWidth" value="1"/>
			<add name="xGridModel.OnQueryCoveredRange" value="1"/>
			<add name="xGridModel.OnQueryOleDataSourceData" value="1"/>
			<add name="xGridModel.OnQueryRowCount" value="1"/>
			<add name="xGridModel.OnQueryRowHeight" value="1"/>
			<add name="xGridModel.OnRowHeightsChanged" value="1"/>
			<add name="ScrollControl.OnUpdatingChanged" value="1"/>
			<add name="ScrollControl.BeginUpdate" value="1"/>
			<add name="ScrollControl.EndUpdate" value="1"/>
			<add name="xGridModel.OnRowHeightsChanging" value="1"/>
			<add name="xGridModel.OnRowsInserted" value="1"/>
			<add name="xGridModel.OnRowsInserting" value="1"/>
			<add name="xGridModel.OnSaveCellInfo" value="1"/>
			<add name="xGridModel.OnSaveColCount" value="1"/>
			<add name="xGridModel.OnSaveColWidth" value="1"/>
			<add name="xGridModel.OnSaveRowCount" value="1"/>
			<add name="xGridModel.OnSaveRowHeight" value="1"/>
			<add name="xGridModel.OnSelectionChanged" value="1"/>
			<add name="xGridModel.OnSelectionChanging" value="1"/>
			<add name="sGridModel.OnClipboardCanPaste" value="1"/>
			<add name="sGridModel.OnClipboardCanCut" value="1"/>
			<add name="sGridModel.OnClipboardCanCopy" value="1"/>
			<add name="sGridModel.OnClipboardPaste" value="1"/>
			<add name="sGridModel.OnClipboardCut" value="1"/>
			<add name="sGridModel.OnClipboardCopy" value="1"/>
			<add name="xGridModelOptions.OnFloatCellsModeChanged" value="1"/>
			<add name="xGridModelOptions.OnOptionsChanged" value="1"/>
			<add name="xShared.ArrowButtonBarEvents" value="4" />
			<add name="xShared.ButtonBarEvents" value="4" />
			<add name="sShared.RecordNavigationBarEvents" value="4" />
			<add name="sShared.RecordNavigationControlEvents" value="4" />
			<add name="sShared.SplitterControlEvents" value="4" />
			<add name="xShared.TabBarEvents" value="4" />
			<add name="xShared.TabBarSplitterControlEvents" value="4" />
			<add name="xShared.MouseControllerDispatcherEvents" value="4" />
			<add name="xShared.ScrollControlEvents" value="4" />
			<add name="xScrollControl.OnBeforeScrollControlMouseMove" value="1"/>
			<add name="xScrollControl.OnMouseMove" value="1"/>
			<add name="xGrid.CellRenderer" value="4" />
			<add name="xGrid.CurrentCell" value="4" />
			<add name="xGrid.TextBoxCellEvents" value="4" />
			<add name="sGrid.Development" value="4" />
			<add name="xGrid.General" value="4" />
			<add name="sGrid.KeyboardEvents" value="4" />
			<add name="xGrid.Printing" value="4" />
			<add name="xGrid.TabBarControl" value="4" />
			<add name="xGridPad" value="4" />
			<add name="xGrid.CheckBoxCellEvents" value="4" />
			<add name="xGrid.FloatCells" value="4" />
			<add name="xGrid.GridPaint" value="4" />
			<add name="sGrid.SelectRange" value="4" />
			<add name="xGrid.Timers" value="4" />
			<add name="xGrid.VolatileData" value="4" />
			<add name="xGrid.ValueConversion" value="4" />
			<add name="xGrid.ButtonChild" value="4" />
			<add name="xGrid.Printing" value="4" />
			<add name="xGrid.ResizeToFit" value="4" />
			<add name="xGrid.DataExchange" value="4" />
			<add name="xGrid.OutlineCurrentCellHeader" value="4" />
			<add name="xGrid.CustomStylePropertyLifetime" value="4" />
			<add name="xGrid.DelayedRange" value="4" />
			<add name="xGrid.GridLayout" value="4" />
			<add name="xGrid.GridScrolling" value="4" />
			<add name="xGrid.Scrolling" value="4" />
			<add name="xGrid.Serialization" value="4" />
			<add name="xGrid.MouseEvents" value="4" />
			<add name="xGrid.CheckBoxCellEvents" value="4" />
			<add name="sGrid.BeginEndUpdate" value="4" />
			<add name="xGrid.CommandStack" value="4" />
			<add name="xShared.MouseController" value="4" />
			<add name="cShared.BeginEndUpdate" value="4" />
			<add name="cShared.ScrollControl" value="4" />
			<add name="xShared.Timers" value="4" />
			<add name="sShared.Workbook" value="4" />
			<add name="xShared.OperationFeedback" value="4" />
			<add name="xShared.Serialization" value="4" />
			<add name="xShared.Styles" value="4" />
		</switches>
	</system.diagnostics>
</configuration>
