<?xml version="1.0" encoding="UTF-8"?>
<packages>
  <package id="syncfusion.compression.base" version="20.4.0.38" />
  <package id="syncfusion.grid.windows" version="20.4.0.38" />
  <package id="Syncfusion.Pdf.WinForms" version="20.4.0.38" />
  <package id="syncfusion.tools.windows" version="20.4.0.38" />
  <package id="syncfusion.shared.base" version="20.4.0.38" />
  <package id="syncfusion.pdfviewer.windows" version="20.4.0.38" />
  <package id="syncfusion.tools.base" version="20.4.0.38" />
  <package id="syncfusion.licensing" version="20.4.0.38" />
</packages>