<?xml version="1.0" encoding="UTF-8"?>
<packages>
  <package id="syncfusion.office2019theme.winforms" version="34.1.29" />
  <package id="syncfusion.shared.base" version="34.1.29" />
  <package id="syncfusion.tools.windows" version="34.1.29" />
  <package id="syncfusion.grid.windows" version="34.1.29" />
  <package id="syncfusion.spellchecker.base" version="34.1.29" />
  <package id="syncfusion.grid.base" version="34.1.29" />
  <package id="syncfusion.shared.windows" version="34.1.29" />
  <package id="syncfusion.tools.base" version="34.1.29" />
  <package id="syncfusion.licensing" version="34.1.29" />
</packages>