<?xml version="1.0" encoding="UTF-8"?>
<packages>
  <package id="syncfusion.compression.base" version="31.2.12" />
  <package id="Syncfusion.DocIO.WinForms" version="31.2.12" />
  <package id="Syncfusion.DocToPDFConverter.WinForms" version="31.2.12" />
  <package id="Syncfusion.Pdf.WinForms" version="31.2.12" />
  <package id="syncfusion.tools.windows" version="31.2.12" />
  <package id="syncfusion.shared.base" version="31.2.12" />
  <package id="syncfusion.licensing" version="31.2.12" />
</packages>