<?xml version="1.0" encoding="UTF-8"?>
<packages>
  <package id="syncfusion.compression.base" version="24.1.41" />
  <package id="Syncfusion.DocIO.WinForms" version="24.1.41" />
  <package id="Syncfusion.DocToPDFConverter.WinForms" version="24.1.41" />
  <package id="Syncfusion.Pdf.WinForms" version="24.1.41" />
  <package id="syncfusion.tools.windows" version="24.1.41" />
  <package id="syncfusion.shared.base" version="24.1.41" />
  <package id="syncfusion.licensing" version="24.1.41" />
</packages>