<?xml version="1.0" encoding="UTF-8"?>
<packages>
  <package id="syncfusion.compression.base" version="24.1.41" />
  <package id="syncfusion.shared.base" version="24.1.41" />
  <package id="syncfusion.tools.windows" version="24.1.41" />
  <package id="syncfusion.spreadsheet.windows" version="24.1.41" />
  <package id="syncfusion.spreadsheethelper.windows" version="24.1.41" />
  <package id="Syncfusion.XlsIO.WinForms" version="24.1.41" />
  <package id="syncfusion.grid.windows" version="24.1.41" />
  <package id="syncfusion.spellchecker.base" version="24.1.41" />
  <package id="syncfusion.grid.base" version="24.1.41" />
  <package id="syncfusion.shared.windows" version="24.1.41" />
  <package id="syncfusion.tools.base" version="24.1.41" />
  <package id="Syncfusion.ExcelChartToImageConverter.WinForms" version="24.1.41" />
  <package id="syncfusion.chart.windows" version="24.1.41" />
  <package id="syncfusion.chart.base" version="24.1.41" />
  <package id="syncfusion.sfchart.wpf" version="24.1.41" />
  <package id="Syncfusion.democommon" version="24.1.41" />
  <package id="syncfusion.licensing" version="24.1.41" />
</packages>