<?xml version="1.0" encoding="UTF-8"?>
<packages>
  <package id="syncfusion.compression.base" version="20.3.0.47" />
  <package id="Syncfusion.XlsIO.WinForms" version="20.3.0.47" />
  <package id="syncfusion.shared.base" version="20.3.0.47" />
  <package id="syncfusion.tools.windows" version="20.3.0.47" />
  <package id="syncfusion.grid.windows" version="20.3.0.47" />
  <package id="syncfusion.spellchecker.base" version="20.3.0.47" />
  <package id="syncfusion.grid.base" version="20.3.0.47" />
  <package id="syncfusion.shared.windows" version="20.3.0.47" />
  <package id="syncfusion.tools.base" version="20.3.0.47" />
  <package id="syncfusion.licensing" version="20.3.0.47" />
</packages>