<?xml version="1.0" encoding="UTF-8"?>
<packages>
  <package id="syncfusion.compression.base" version="19.3.0.53" />
  <package id="syncfusion.officechart.base" version="19.3.0.53" />
  <package id="Syncfusion.Presentation.WinForms" version="19.3.0.53" />
  <package id="syncfusion.grid.windows" version="19.3.0.53" />
  <package id="syncfusion.spellchecker.base" version="19.3.0.53" />
  <package id="syncfusion.grid.base" version="19.3.0.53" />
  <package id="syncfusion.shared.windows" version="19.3.0.53" />
  <package id="syncfusion.tools.base" version="19.3.0.53" />
  <package id="syncfusion.licensing" version="19.3.0.53" />
  <package id="syncfusion.tools.windows" version="19.3.0.53" />
  <package id="syncfusion.shared.base" version="19.3.0.53" />
</packages>