<?xml version="1.0" encoding="UTF-8"?>
<packages>
  <package id="Syncfusion.democommon" version="28.2.3" />
  <package id="syncfusion.grid.windows" version="28.2.3" />
  <package id="syncfusion.chart.base" version="28.2.3" />
  <package id="syncfusion.grouping.base" version="28.2.3" />
  <package id="Syncfusion.Pdf.WinForms" version="28.2.3" />
  <package id="Syncfusion.DocIO.WinForms" version="28.2.3" />
  <package id="Syncfusion.XlsIO.WinForms" version="28.2.3" />
  <package id="syncfusion.pivotanalysis.base" version="28.2.3" />
  <package id="syncfusion.grid.grouping.windows" version="28.2.3" />
  <package id="Syncfusion.GridExport.WinForms" version="28.2.3" />
  <package id="syncfusion.chart.windows" version="28.2.3" />
  <package id="Syncfusion.PivotTable.WinForms" version="28.2.3" />
  <package id="syncfusion.tools.windows" version="28.2.3" />
  <package id="syncfusion.gridhelperclasses.windows" version="28.2.3" />
  <package id="syncfusion.shared.base" version="28.2.3" />
  <package id="syncfusion.shared.windows" version="28.2.3" />
  <package id="syncfusion.compression.base" version="28.2.3" />
  <package id="syncfusion.officechart.base" version="28.2.3" />
  <package id="syncfusion.linq.base" version="28.2.3" />
  <package id="syncfusion.spellchecker.base" version="28.2.3" />
  <package id="syncfusion.tools.base" version="28.2.3" />
  <package id="syncfusion.licensing" version="28.2.3" />
</packages>